.gameUi {
  .boardDesc {
    font-style: italic;
  }
  .resiButton {
    margin-left: 160px;
  }
  .testControls button {
    height: 90px;
    font-size: 24px;
  }
  .logDiv {
    height: 100px;
    width: 500px;

    .outputBox {
      height: 100%;
      width: 400px;
      font-weight: bold;
    }
    .historyBox {
      position: relative;
      top: -112px;
      left: 420px;
      height: 100%;
      width: 230px;
      font-family: "Courier";
      font-weight: bold;
    }
  }
}
