.board {
}
.boardDesc {
  font-family: "Arial";
}
.gameUi button {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 120px;
  height: 60px;
}
.resiButton {
  margin-right: auto;
  float: right;
}
.testControls button {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  &.toggled {
    background-color: #08d;
  }
}

.logDiv {
  height: 100px;
  width: 100%;

  .outputBox {
    height: 100%;
    width: 75%;
    font-size: 14px;
    font-weight: bold;
  }
  .historyBox {
    height: 100%;
    width: 20%;
    position: relative;
    top: -112px;
    float: right;
    font-size: 14px;
    font-family: "Courier";
    font-weight: bold;
  }
}
