body {
  background-color: #ffe;
  font-family: "Arial";
}

.pageTitle {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
.subTitle {
  font-size: 30px;
  margin-top: 0.5em;
  margin-bottom: 5px;
}

.logBox {
  font-size: 14px;
  font-family: "Arial";
  background-color: white;
  border: solid #cca 1px;
  border-radius: 8px;
  padding: 5px;
  overflow-y: auto;  
  word-wrap: break-word;
}
.controls {
  width: 100%;
  margin-top: 10px;
}

@import "mainUi";
@import "testUi";
@import "newGameDlg";
