body {
  background-color: #AB8274;
  font-family: "Arial";
  margin: 7px;
}

.pageTitle {
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 40px;
  font-weight: bold;
}
.subTitle {
  font-size: 30px;
  margin-top: 0.5em;
  margin-bottom: 5px;
}

.logBox {
  font-size: 28px;
  font-family: "Arial";
  background-color: white;
  border: solid #cca 1px;
  border-radius: 8px;
  padding: 5px;
  overflow-y: auto;  
  word-wrap: break-word;
}

.inputLbl {
  margin-left: 10px;
  font-size: 28px;
}
.inputBox {
  margin: 17px 13px 17px 13px;
  min-height: 1cm;
  text-align: left;
  font-size: 42px;
}

button {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 13px;
  width: 160px;
  height: 120px;
  font-size: 28px;
  &.toggled {
    background-color: #08d;
  }
}

.chkBoxDiv {
  display: flex;
}
.chkBox {
  margin: 5px 3px 14px 2px;
  width: 29px;
  height: 1.5em;
}
.chkLbl {
  font-size: 28px;
}

.dropDwn {
  font-size: 42px;
  margin: 17px 13px 17px 13px;
}

.radioBtn {
  margin: 17px 0px 17px 13px;
  width: 29px;
  height: 1.5em;
}
.radioLbl {
  margin-right: 13px;
}

.dialog {
  z-index: 1000;
  position: relative;
  margin: 0 auto;
  top: 200px;
  width: 45%;
  padding: 10px;
  background-color: #ffe;
  border: solid #cca 1px;
  border-radius: 10px;
  font-family: Arial;
  font-size: 42px;
}
.dialogTitle {
  font-size: 50px;
  background-color: rgb(255, 235, 206);
  border: solid 1px rgba(195,50,50,0.2);
  border-radius: 10px;
  margin: -6px;
  margin-bottom: 15px;
  padding: 10px 0px 10px 12px;
}
.popupBackground {
  z-index: 2000;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.popupDlg {
  position: relative;
  top: 150px;
  margin: 0 auto;
  width: 50%;
  .content {
    padding: 20px;
    white-space: pre-wrap;
  }
  .btnDiv {
    width: 100%;
    height: 80px;
    .popupDlgButton {
      width: 220px;
      height: 100%;
      font-size: 30px;
      float: right;
      margin-right: 0;
      margin-left: 10px;
    }
  }
}

@import "mainUi";
@import "testUi";
@import "newGameDlg";
